.content {
    text-align: center;
}
.in {
    width: 150px;
    height: 20px;
}
.btn {
    width: 80px;
    height: 24px;
    color: black;
    border-radius: 50%;
}
.ma {
    background-color: lightgreen;
}
.clear {
    background-color: lightblue;
}
.ma:hover {
    background-color: green;
}
.clear:hover {
    background-color: blue;
}