.content {
    text-align: left;
    align-items: center;
}
.btn {
    width: 100px;
    height: 30px;
    background-color: lightblue;
    color: black;
}
#new:hover {
    background-color: royalblue;
}
#check:hover {
    background-color: crimson;
}
#home:hover {
    background-color: goldenrod;
}
.input {
    width: 158px;
    height: 24px;
}